.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: rgb(234, 98, 64);
    text-shadow: 7px 7px 7px black;
}

.para {
    padding-top: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

p {
    color: white;
}

h2 {
    text-shadow: 7px 7px 7px black;
    color: wheat;
}