<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Inside course component (Child component)</h3>
    <p>Data coming from parent :{{inDecorator}}</p>
    <br><br>
    <h3>Using child-parent (@Output)</h3>
    <button (click)="outDecoratorSelected()">Click Here to pass data to parent</button>  
    <!-- binding click event to the method which is responsible for raising the custom evnt -->
</body>
</html>
