<div class="services">
  <h1>Product to Purchase </h1>
  <h2>Most Searched Cars</h2>
  <div class="center">
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift/7820/1675862859794/front-left-side-47.jpg?tr=w-456"
          alt="maruti suzuki">
        <br>
        <b style="text-align: center;">Maruti Suzuki &nbsp;&nbsp;&nbsp;
          Rs5.99 - 8.98 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>

    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Baleno/8674/1675858584706/front-left-side-47.jpg?tr=w-456"
          alt="maruti baleno">
        <br>
        <b style="text-align: center;">Maruti Baleno &nbsp;&nbsp;&nbsp;
          Rs6.56 - 9.83 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>

    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Hyundai/i20/6986/1604567349336/front-left-side-47.jpg?tr=w-456"
          alt="maruti baleno">
        <br>
        <b style="text-align: center;">Hyundai i20 &nbsp;&nbsp;&nbsp;
          Rs7.19 - 11.83 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>

  </div>
  <br><br>
  <div class="center">
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Tiago/7338/Tata-Tiago-XE/1660901953609/front-left-side-47.jpg?tr=w-456"
          alt="Tata Tiago">
        <br>
        <b style="text-align: center;">Tata Tiago &nbsp;&nbsp;&nbsp;
          Rs.5.54 - 8.05 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>

    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Altroz/7247/1676357979641/front-left-side-47.jpg?tr=w-456"
          alt="Tata Altroz">
        <br>
        <b style="text-align: center;">Tata Altroz &nbsp;&nbsp;&nbsp;
          Rs.6.45 - 10.40 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>

    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-card>
      <mat-card-content><img
          src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Wagon-R/8835/1675922419979/front-left-side-47.jpg?tr=w-456"
          alt="Maruti Wagon R">
        <br>
        <b style="text-align: center;">Maruti Wagon R &nbsp;&nbsp;&nbsp;
          Rs.5.53 - 7.41 Lakh*</b>
      </mat-card-content>
      <br>
    </mat-card>
  </div>
</div>