<h1>Tours and Travels</h1>


<div style="display: flex; justify-content: center;">
  <mat-form-field appearance="fill">
    <mat-label>From:</mat-label>
    <mat-select [(value)]="srcSelect"  placeholder="No value selected" (selectionChange)="disableDest()" [(ngModel)]="source">
      <mat-option *ngFor="let city of sourceList" [value]="city.name" [disabled]="city.disabled">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  &nbsp;&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>To:</mat-label>
    <mat-select [(value)]="destSelect"  placeholder="No value selected" (selectionChange)="disableSrc()" [(ngModel)]="destination">
      <mat-option *ngFor="let city of destinationList" [value]="city.name" [disabled]="city.disabled">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  &nbsp;&nbsp;
  <button mat-raised-button (click)="addRoute()">Add Route</button>
</div>


<p style="text-align: center;">{{srcName}} &nbsp; {{to}} &nbsp; {{destName}}</p>
<br><br>
<div style="display: flex; justify-content: center;">
  <button mat-raised-button (click)="clearRoute()">Clear Routes</button>
</div>