<div id="first">
    <input type="text" placeholder="Search">
    <button>Search</button>
    <h1>Expand your career opportunities with Python</h1>
    <p>Take one of Udemy’s range of Python courses and learn how to code using this incredibly useful language. Its simple syntax and readability makes Python perfect for Flask, Django, data science, and machine learning. You’ll learn how to build everything from games to sites to apps. Choose from a range of courses that will appeal to</p>
    <button type="button">Explore Python</button>
    <img src="" alt="">

    <h3>How learners like you are achieving their goals</h3>
    <div id="second">
        <p>I am proud to say that after a few months of taking this course...I passed my exam and am now an AWS Certified Cloud Practitioner! This content was exactly what the CCP exam covered.</p>

        <p>This course helped me freshen up on my product manager skills and land a job at Facebook! Thanks guys :)</p>

        <p>One of the best courses on management and leadership I have come across so far. The advice is practical, and examples highly relatable. Would help anyone become a better manager.</p>
    </div>
</div>