<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Angular</title>
</head>
<body>

  <div id="angular">
    <h1>Welcome to Angular Page</h1>
    <pre>
Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.

These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page applications for enterprises.</pre>

<img src="https://openclipart.org/image/2400px/svg_to_png/272339/angular.png" alt="angular_logo">
  </div>

</body>
</html>