<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="app.component.css">                angular automatically includes link and script -->   
    <title>Footer</title>
</head>
<body>
    <div id="component">
        <br>
        <br>
        <br>
        <h2>This is the component of app</h2>
        <pre>It is used by using   selector:'app-root'   inside app.component.ts</pre>
        <pre>and we will place    &lt;app-root&gt;&lt;/app-root&gt; inside index.html where we want to use this component</pre>
    </div>
   
</body>
</html>