<div id="first">
    <h2>
        Trusted by over 13,400 great teams
    </h2>
    <p>Leading companies use the same courses to help employees keep their skills fresh.</p>
    <img src="https://s.udemycdn.com/home/non-student-cta/UB_Promo_800x800.jpg" alt="udemy">

    <h2>Upskill your team with Udemy <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business</h2>

    <ul>
        <li>Unlimited access to 19,000+ top Udemy courses, anytime, anywhere</li>
        <li>International course collection in 14 languages</li>
        <li>Top certifications in tech and business</li>
    </ul>

    <button>Get Udemy Business</button>
</div>
