<form [formGroup]="reactiveForm">
  <div class="center">
    <h1><u>Student  Registration  Form</u></h1>
    <mat-form-field class="example-full-width">
      <mat-label>Enter Your Name:</mat-label>
      <input matInput placeholder="Name" formControlName="fullName">
      <small *ngIf="reactiveForm.get('fullName').touched && reactiveForm.get('fullName').invalid">
        Please enter your name!!!
      </small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter Your Age:</mat-label>
      <input type="number" matInput placeholder="Age" formControlName="age">
      <small *ngIf="reactiveForm.get('age').touched && reactiveForm.get('age').invalid">
        Please enter your age between (15-20)!!!
      </small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter Your Email:</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <small *ngIf="reactiveForm.get('email').touched && reactiveForm.get('email').invalid">
        Please enter your email correctly!!!
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Your Stream:</mat-label>
      <mat-select formControlName="stream">
        <mat-option *ngFor="let stream of streams" [value]="stream">
          {{stream}}
        </mat-option>
      </mat-select>
      <small *ngIf="reactiveForm.get('stream').touched && reactiveForm.get('stream').invalid">
        Please Select Stream!!!
      </small>
    </mat-form-field>

    <div formArrayName="subjects" class="center">
      <ng-container *ngFor="let sub of reactiveForm.get('subjects')['controls'];index as i ">
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Add Subject..." formControlName="{{i}}">
        </mat-form-field>
        </ng-container>
    </div>

        <button mat-raised-button (click)="addSubject()" [disabled]="reactiveForm.get('subjects').invalid">+ add subject</button>

        &nbsp;&nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="SubjectName for deletion" formControlName="subInput">
        </mat-form-field>
        
        <button mat-raised-button (click)="deleteSubject()" [disabled]="reactiveForm.get('subjects').invalid">- delete subject</button>
   
    <br><br><br>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="reactiveForm.invalid">Submit Details</button>
  </div>
</form>