#question-card img{
    width: 150px;
    height: 100px;
}
#question-card{
    box-shadow: 4px 4px 3px 4px rgb(246, 227, 195);
    padding: 3rem;
    width: 10%;
    height: 1%;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#all-cards{
    display: flex;
    justify-content: center;
}