.center{
    padding: 3rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
h4{
    color: rgb(154, 153, 153);
}

small{
    color: red;
}

#demo{
    color: rgb(117, 201, 68);
}

div.special-div[disabled] {
    opacity: 0.5;
}
