<div class="center">
    <h1>Welcome To Multi-User App</h1>
  </div>
<div class="center">
    <button mat-raised-button (click)="showAdmin()">Login as Admin</button><br><br>
    <div *ngIf="adminClicked">
        <form class="example-form" #adminForm="ngForm">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Login Name</mat-label>
              <input matInput ngModel name="adminName">
            </mat-form-field>  &nbsp;&nbsp;
            <mat-form-field class="example-full-width">
              <mat-label>Enter Login Password</mat-label>
              <input matInput ngModel name="adminPass">
            </mat-form-field> &nbsp;&nbsp;
            <button mat-raised-button (click)="adminVerified(adminForm.value)">Login</button>
          </form>
    </div> <br><br><br>
   
      <button mat-raised-button (click)="showUser()">Login as User</button> <br><br>
      <div *ngIf="userClicked">
        <form class="example-form" #userForm="ngForm">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Login Name</mat-label>
              <input matInput ngModel name="userName">
            </mat-form-field>  &nbsp;&nbsp;
            <mat-form-field class="example-full-width">
              <mat-label>Enter Login Password</mat-label>
              <input matInput ngModel name="userName">
            </mat-form-field> &nbsp;&nbsp;
            <button mat-raised-button (click)="userVerified(userForm.value)">Login</button>
          </form>
      </div>
</div>